* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    font-family: 'Cabin Condensed', sans-serif;
}

.navbar {
    justify-content: center;
    background-color: white;
}


.navbar li a {
    color: black;
    margin: 0 10px;
    font-size: 25px;
    transition: 0.5s;
    text-shadow: 1px 1px #000000;
}
a .fab {
    font-size: 30px;
    color: black;
}
a:hover .fab {
    color: rgb(148, 7, 7);;
    transition: 0.5s;
}

.logo {
    width: 100px;
}

.navbar-brand img {
    width: 50px;
}
.navbar a:hover {
    color: rgb(148, 7, 7);;
    text-decoration: underline;
}
.navbar a.active  {
    color: rgb(148, 7, 7);;
    text-decoration: underline;
}

.collage img {
    width: 300px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #1f1f1f94
}

.myflexTitle {
    display: inline-flex;
    width: 100%;
    min-height: 100vh;
}

.myflex{
    display: inline-flex;
    width: 100%;
    min-height: 100vh;

}

.title {
    width: 45%;
    align-self: center;
    text-align: center;
    font-family: 'Gentium Book Basic', serif;
    text-shadow: 1px 1px 1px #000000;
}

.title h1 {
    font-size: 60px;
}

.titlefont {
    font-family: 'Gentium Book Basic', serif;
}

.collage {
    position: relative;
    margin: 30px 1%;
    max-width: 40%;

}

.collage img {
    position: absolute;
  
}

.collage img:nth-child(1){
    top: 130px;

}
.collage img:nth-child(2){
    top: 90px;
    left: 200px;
}
.collage img:nth-child(3){
    top: 50px;
    left: 400px;
    z-index: -1;
}

#infoOne {
    background-color: black;
    color: white;
    padding-top: 75px;
    line-height: 1.5rem;
}

#infoOne p {
    
    padding: 5px;
}

.bandProfile {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

#infoTwo {
    padding-top: 0px;
}

#infoTwo p {
    font-weight: 600;
    padding: 0px;
    margin: 5px;

}

#infoTwo h3 {
    color: rgb(148, 7, 7);
    font-weight: 600;
}

.smallimg {
    width: 300px;
}

.albumimg {
    width: 200px;
    height: 200px;
    padding: 10px;
    object-fit: cover;
}

.btn-light {
    background-color: white;
    font-weight: bold;
}

.btn-dark {
    background-color: black;
    transition:  0.5s;
    font-weight: bold;
}

.btn-dark:hover, .btn-light:hover {
    background-color: rgb(148, 7, 7);;
    border: 1px rgb(148, 7, 7) solid;
    color: white;
    font-weight: bold;
}

#footer {
    background-color: black;
    color: white;
    margin-top: 150px;
}

/* MEDIA SECTION */

@media (max-width: 1300px) { 

    .title {
        max-width: 100%;
    }
    
    .title h1 {
        font-size: 40px;
        padding: 3px;
    }

    .title h2 {
        font-size: 25px;
        padding: 0px;
    }
  

    .myflexTitle {
        padding-top: 75px;
        flex-direction: column;
    }

    .collage {
        max-width: 75%;
        margin: 0 12.5%;
    }

    .collage img {
    width: 215px;

        }


    .collage img:nth-child(1){
        top: 100px;
        left: 200px;
    
    }
    .collage img:nth-child(2){
        top: 25px;
        left: 320px;
    }
    .collage img:nth-child(3){
        top: 50px;
        left: 440px;
        z-index: -1;
    }

    .navbar-brand img {
        width: 30px;
    }

    a.fab {
        font-size: 15px;
        padding: 0 10px;
    }

    .bandProfile {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }


 }

 @media (max-width: 990px) {
     
    .collage img {
        width: 175px;
        height: auto;
       
    }
    .collage img:nth-child(1){
        top: 100px;
        left: 115px;
       
    
    }
    .collage img:nth-child(2){
        top: 25px;
        left: 225px;
    }
    .collage img:nth-child(3){
        top: 50px;
        left: 350px;
        z-index: -1;
    }




  }


 /* Medium devices (tablets, 768px and up) */
@media (max-width: 767px) { 
   

       .collage img {
        width: 150px;
    }
    .collage img:nth-child(1){
        top: 100px;
        left: 50px;
       
    
    }
    .collage img:nth-child(2){
        top: 25px;
        left: 135px;
    }
    .collage img:nth-child(3){
        top: 50px;
        left: 235px;
        z-index: -1;
    }
    
    .title h1 {
        font-size: 30px;
        padding: 3px;
    }

    .title h2 {
        font-size: 18px;
        padding: 0px;
    }

    .bandProfile {
        width: 100px;
        height: 100px;
       
    }




}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) { 
   

    .collage img {
        width: 150px;
    }
    .collage img:nth-child(1){
        top: 100px;
        left: 15px;
       
    
    }
    .collage img:nth-child(2){
        top: 25px;
        left: 90px;
    }
    .collage img:nth-child(3){
        top: 50px;
        left: 190px;
        z-index: -1;
    }

    .title h1 {
        font-size: 30px;
        padding: 3px;
    }

    .title h2 {
        font-size: 18px;
        padding: 0px;
    }
  

    .myflexTitle {
        padding-top: 75px;
        flex-direction: column;
    }


 }