* {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body {
    font-family: 'Cabin Condensed', sans-serif;
}

.navbar {
    justify-content: center;
    background-color: white;
}


.navbar li a {
    color: black;
    margin: 0 10px;
    font-size: 25px;
    transition: 0.5s;
    text-shadow: 1px 1px #000000;
}

/* resize icons and logo */
a .fab {
    font-size: 30px;
    color: black;
}
a:hover .fab {
    color: rgb(148, 7, 7);;
    transition: 0.5s;
}

.logo {
    width: 100px;
}

.navbar-brand img {
    width: 50px;
}

/* style hover */
.navbar a:hover {
    color: rgb(148, 7, 7);;
    text-decoration: underline;
}
.navbar a.active  {
    color: rgb(148, 7, 7);;
    text-decoration: underline;
}

.title {
    font-family: 'Gentium Book Basic', serif;
    text-shadow: 1px 1px 1px #000000;
}
.title h1 {
    font-size: 60px;
}

#infoOne {
    background-color: black;
    color: white;
    padding-top: 75px;
    line-height: 1.5rem;
}

#infoOne p {
   padding: 5px;
}

.bandProfile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#infoTwo {
    padding-top: 0px;
    letter-spacing: 2px;
}

#infoTwo h3, p {
    letter-spacing: 3px;
}

#infoTwo p {
    font-weight: 600;
    padding: 0px;
    margin: 5px;

}

#infoTwo h3 {
    color: rgb(148, 7, 7);
    font-weight: 600;
    font-size: 25px;
}

.title2 {
    background-color: black;
    color:white;
    border: 1px solid black;
    padding: 5px 0px;
    border-radius: 3px;
}

.title2 h3 {
    font-size: 40px;
}

.smallimg {
    width: 200px;
    object-fit: cover;
}

.albumimg {
    width: 200px;
    height: 200px;
    padding: 10px;
    object-fit: cover;
}

.btn-light {
    background-color: white;
    font-weight: bold;
}

.btn-dark {
    background-color: black;
    transition:  0.5s;
    font-weight: bold;
    border-color: gray;
}

.btn-dark:hover, .btn-light:hover {
    background-color: rgb(148, 7, 7);;
    border: 1px rgb(148, 7, 7) solid;
    color: white;
    font-weight: bold;
}

#footer {
    background-color: black;
    color: white;
    margin-top: 150px;
}

/* MEDIA SECTION */



@media (max-width: 1300px) { 

    .title {
        max-width: 100%;
    }
    

    .navbar-brand img {
        width: 30px;
    }

    a.fab {
        font-size: 15px;
        padding: 0 10px;
    }

    .bandProfile {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }


 }

 @media (max-width: 990px) {
     




  }


 
@media (max-width: 767px) { 
   

    
    .title h1 {
        font-size: 30px;
        padding: 3px;
    }

    .title h2 {
        font-size: 18px;
        padding: 0px;
    }

    .bandProfile {
        width: 100px;
        height: 100px;
       
    }




}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 575px) { 
    #coverpage {
        background-image: url("https://images.unsplash.com/photo-1565052161621-0f02dee7b3a3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
        
    }

    .title {
        margin-top: 10vh;
        text-shadow: 3px 3px 5px black;
        background-color: rgba(0, 0, 0, 0.014);
     
    }
  
    .title h1 {

        font-size: 40px;
        padding: 3px;
        color: white;
    }

    .title h2 {
        font-size: 25px;
        padding: 0px;
        color: white;
    }
  

    .myflexTitle {
        padding-top: 75px;
        flex-direction: column;
    }

    .info1 h2 {
        font-size: 24px;
    }


 }

 /* Test   */

 
img.coverpics {
  
    width: 200px;
    padding: 0px;
    margin: 0px;
    border: 0px;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #1f1f1f94

}

#coverpage {
    padding-top: 23vh;
}